@model IEnumerable<RestaurantManagement.Web.Models.clsEmployee>

@{
    ViewBag.Title = "Index";
}

<h2>Employee List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover table-striped table-responsive my-box-shadow">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statuss)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statuss)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EID }) |
           
        </td>
    </tr>
}

</table>
